@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color:#ffeddf;
    --secondary-color:#0d1321;
    --tertiary-color:#c4d86d;
    --quartenary-color:#c4d86d8b;
    font-size: 20px;
}

body{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

header{
    background-color: var(--tertiary-color);
    position: sticky;
    top: 0;
    border-bottom: 2px solid var(--secondary-color);
}

footer{
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    border-top: 2px solid var(--tertiary-color);
}

main{
    color: #ffeddf;
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6, a{
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: underline;
    color: #0d1321;
}

.logo img{
    width: 3.75rem;
    height: 3.75rem;
}

.top__navBar{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.top__navBar__list{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.top__navBar__link {
    text-decoration: none;
    font-size: smaller;
    color: #0d1321;
    position: relative;
}

.top__navBar__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 1px; 
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.top__navBar__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.top__navBar__link:hover {
    color: #0d1321b9;
    cursor: pointer;
}

.main__container__decipher{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 2rem;
    letter-spacing: 1px;
    line-height: 2rem;  
    gap: 1rem;
    height: 100vh;
}

.main__container{
    display: flex;
    height: 100vh;
    text-align: center;
}

.main__title{
    padding-top: 2rem;
    font-size:3.5rem;
    -webkit-text-stroke: 1.5px var(--tertiary-color);
    color:var(--secondary-color);
}

 .main__subtitle{
    line-height: 1rem;
    padding-top: 1.5rem;
    color: var(--tertiary-color);   
    font-size: 2rem;
}

.main__paragraph{
    padding: 2rem 15rem 0 15rem;
    font-size: 1rem;
    line-height: 1.25rem;
    
}
.main__technologies{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.main__technologies__link{
    color: #c5d86d;
    font-family: "Black Ops One", system-ui;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    width: auto;
    background-color: #0d1321;
    transition: 1s;
}

.main__technologies__link:hover{
    background-color:#c4d86d;
    -webkit-text-stroke: 1.5px #0d1321;
}


.textbox{
        width: 100%;
        height: 65vh;
        box-sizing: border-box;
        border: 2px solid var(--tertiary-color);
        border-radius: 4px;
        background-color: var(--quartenary-color);
        font-size: 16px;
        resize: none;
        color: var(--secondary-color);
        font-family: "Black Ops One", system-ui;
}

.textbox::placeholder{
    color: var(--secondary-color);
    font-family: "Black Ops One", system-ui;
}

.validation{
    font-size: 0.75rem;
}

.main__buttons {
    color: #c5d86d;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main__buttons__button {
    color: #c5d86d;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    width: auto;
    background-color: #0d1321;
    transition: 1s;
    font-family: "Black Ops One", system-ui;
}


.main__buttons__button:hover{
    background-color:#c4d86d;
    -webkit-text-stroke: 1.5px #0d1321;
}

.footer__navBar{
    display: flex;
    justify-content: center;
}

.footer__span{
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-size: 1rem;
    min-height: 1.5rem;
    margin-top: 0.5rem;
    font-size: smaller;
}





